<app-navbar (loggedOut)="onLoggedOut()"></app-navbar>
<div class="container-fluid angularit-container h-100">
  <div class="row h-100">
    <div class="col-xl-6 col-lg-8 offset-xl-3 offset-lg-2 thread-detail">
      <!-- web only -->
      <app-votes class="float-lg-right d-none d-lg-inline" [model]="model" type="thread"></app-votes>

      <h3>{{ model.thread_title }}</h3>
      <fa-icon class="user-icon" icon="user-circle"></fa-icon>
      <a [routerLink]="'/users/' + model.user_id" class="user-link">{{ model.user_name }}</a>
      <p><fa-icon class="clock-icon" [icon]="['far', 'clock']"></fa-icon> Posted {{ model.timestamp | timeDifference }} ago.</p>
      <p class="thread-body">{{ model.thread_body }}</p>

      <!-- mobile only -->
      <app-votes class="d-lg-none" [model]="model"></app-votes>
    </div>
    <div class="col-xl-6 col-lg-8 offset-xl-3 offset-lg-2 cards-container h-100">
      <app-comment *ngFor="let comment of model.comments" [model]="comment"></app-comment>
    </div>
  </div>
</div>
