@import '../../styles/variables';

.user-detail {
  padding: 20px;
  border: 2px solid $highlight;
}
.user-stats p {
  margin-bottom: 4px;
}

.trophy-icon {
  color: $primary;
  margin-right: 5px;
}

.voting-history {
  color: $text-grey;
  font-size: small;
}
