<app-navbar (loggedOut)="onLoggedOut()"></app-navbar>
<div class="container-fluid angularit-container">
  <div class="row h-100">
    <div class="col-xl-6 col-lg-8 offset-xl-3 offset-lg-2 cards-container h-100">
      <div class="card top-card">
        <div class="card-body">
          <h3>{{ model.user_name }}</h3>
          <p><fa-icon class="user-icon" icon="user-circle"></fa-icon> User for {{ model.registration_timestamp | timeDifference }}</p>
          <p><strong>Stats:</strong></p>
          <p>They've given:
            <fa-icon class="vote-icon" icon="arrow-circle-up"></fa-icon> {{ model.upvotes }}
            <fa-icon class="vote-icon" icon="arrow-circle-down"></fa-icon> {{ model.downvotes }}
          </p>
          <p>Their posts have received:
            <fa-icon class="vote-icon" icon="arrow-circle-up"></fa-icon> {{ model.post_upvotes }}
            <fa-icon class="vote-icon" icon="arrow-circle-down"></fa-icon> {{ model.post_downvotes }}
          </p>
          <p>Their comments have received:
            <fa-icon class="vote-icon" icon="arrow-circle-up"></fa-icon> {{ model.comment_upvotes }}
            <fa-icon class="vote-icon" icon="arrow-circle-down"></fa-icon> {{ model.comment_downvotes }}
          </p>
        </div>
      </div>
      <app-thread-list-item *ngFor="let thread of threads" [model]="thread"></app-thread-list-item>
    </div>
  </div>
</div>
