@import 'variables';

html, body {
  height: 100%;
}

/* Links */
a {
  color: $secondary;
  &:hover {
    color: $secondary;
  }
  &.user-link {
    margin-left: 5px;
  }
  &.card-title {
    color: $text-highlight;
    &:hover {
      color: $text-highlight;
      text-decoration: underline $text-grey;
    }
  }
  &.nav-link {
    cursor: pointer !important;
  }
}

/* Layout */
.angularit-container {
  min-height: 100%;
  background-color: $background-grey;
  padding-bottom: 20px;
  .card {
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .top-card {
    // TODO add different styling?
    margin-top: 28px;
    margin-bottom: 32px;
  }
}

/* Buttons */
#angular-it {
  .btn-primary {
    background-color: $primary;
    border-color: $primary;
    font-weight: 500;
    &:focus {
      box-shadow: 0 0 0 2px $primary;
    }
  }
  .btn-secondary {
    background-color: $secondary;
    border-color: $secondary;
    font-weight: 500;
    &:focus {
      box-shadow: 0 0 0 2px $secondary;
    }
  }
  .btn-highlight {
    background-color: $highlight;
    border-color: $highlight;
    color: $primary;
    font-weight: 600;
    &:focus {
      box-shadow: none;
    }
  }
  .btn-danger {
    background-color: $danger;
    border-color: $danger;
    color: $white;
    font-weight: 500;
    &:focus {
      box-shadow: 0 0 0 2px $danger;
    }
  }
}

/* Voting */
div.votes-container {
  font-size: 1.1rem;
}

button.vote-btn {
  border: none;
  background-color: transparent;
  &:hover {
    cursor: pointer;
    fa-icon {
      color: $highlight;
    }
  }
  &:focus {
    outline: none;
  }

  &.upvote {

  }

  &.downvote {
    &:hover {
      fa-icon {
        color: red;
      }
    }
    .vote-icon {
      color: $danger;
    }
  }
}

/* Icons */
fa-icon {
  &.user-icon {
    color: $secondary;
  }
  &.clock-icon {
    color: $text-grey;
  }
  &.vote-icon {
    color: $primary;
  }
}

// Notifications
notifier-notification {
  p {
    color: $white !important;
  }
  &.notifier__notification--success {
    background-color: $secondary;
  }
}

ngb-tabset {
  ul li a {
    color: $text-grey;
    &:hover {
      color: $text-highlight;
    }
    &.active {
      background-color: $primary !important;
    }
  }
}
.invalid-feedback {
  font-size: 100%;
}
