@import 'variables';

html, body {
  height: 100%;
}

/* Links */
a {
  color: $grey;
  &:hover {
    text-decoration: none;
    color: $dark-grey
  }
}

/* Layout */
.angularit-container {
  .cards-container {
    background-color: $lighter-grey;
    // TODO make container scroll-able
    // overflow-y: auto;
    .card {
      margin-top: 12px;
    }
  }
}
