@import 'variables';

html, body {
  height: 100%;
}

/* Links */
a {
  color: $secondary;
  &:hover {
    color: $secondary;
  }
  &.user-link {
    margin-left: 5px;
  }
  &.card-title {
    font-size: 1.5rem !important;
    line-height: 1.2;
    font-family: $title-font;
    font-weight: 400;
    color: $text-highlight;
    &:hover {
      color: $text-highlight;
      text-decoration: underline $highlight;
    }
  }
}

/* Layout */
.angularit-container {
  .cards-container {
    background-color: $background-grey;
    // TODO make container scroll-able
    // overflow-y: auto;
    .card {
      margin-top: 12px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}


/* Buttons */
button.vote-btn {
  border: none;
  background-color: transparent;
  &:hover {
    cursor: pointer;
    fa-icon {
      color: $highlight;
    }
  }
  &:focus {
    outline: none;
  }
}

/* Icons */
fa-icon {
  &.user-icon {
    color: $secondary;
  }
  &.clock-icon {
    color: $secondary;
  }
  &.vote-icon {
    color: $primary;
  }
}
