<div class="card">

  <div class="card-body">

    <h5>
      <a class="card-title d-block" [routerLink]="'/threads/' + model.thread_id">{{ model.thread_title | truncate: [160] }}</a>
    </h5>

    <hr>

    <ul class="list-inline">
      <li class="list-inline-item" *ngIf="model.user_name">
        <fa-icon class="user-icon" icon="user-circle"></fa-icon>
        <a [routerLink]="'/users/' + model.user_id" class="user-link">{{ model.user_name }}</a>
      </li>
      <li class="list-inline-item">
        <fa-icon class="clock-icon" [icon]="['far', 'clock']"></fa-icon> Posted {{ model.timestamp | timeDifference }} ago.
      </li>
    </ul>

    <app-votes class="float-right" [model]="model" type="thread"></app-votes>

    <p class="card-text" [innerHtml]="model.thread_body | truncate: [340] | safeHtml"></p>
  </div>

</div>
