.card {
  margin-top: 12px;
  .card-body {
    h5 {
      margin-bottom: 0.25rem;
    }
    a {
      font-size: 80%;
      margin-bottom: 0.5rem;
    }
  }
}

@media only screen and (max-width: 991px) {
  .votes-container {
    font-size: 1rem;
  }
}
