@import '../../../styles/variables';

nav.navbar {
  background-color: $grey;
  .navbar-brand {
    text-transform: uppercase;
    font-weight: 500;
    color: $mint-green;
    span {
      font-style: italic;
    }
  }
}
