@import '../../../styles/variables';

nav.navbar {
  background-color: $grey;
  .navbar-brand {
    text-transform: uppercase;
    font-weight: 700;
    color: $mint-green;
    letter-spacing: 3px;
    font-family: 'Monserrat', sans-serif;
    span {
      font-style: italic;
      font-weight: bold;
    }
  }
}
